/asyncsvc/Debug
/asyncsvc/Release
/asyncsvc/Release_XP
/asyncsvc/NotificationServices_i.c
/asyncsvc/NotificationServices_i.h
/asyncsvc/asyncsvc_contract_i.c
/asyncsvc/asyncsvc_contract_i.h
/asyncsvc/asyncsvc_contract_p.c
/asyncsvc/objmdl_contract_i.c
/asyncsvc/objmdl_contract_i.h
/asyncsvc/objmdl_contract_p.c
/asyncsvc/viewmdl_contract_i.c
/asyncsvc/viewmdl_contract_i.h
/asyncsvc/viewmdl_contract_p.c
/objmdl/Debug
/objmdl/Release
/objmdl/Release_XP
/objmdl/ObjMdl_i.c
/objmdl/ObjMdl_i.h
/objmdl/dlldata.c
/objmdl/objmdl_contract_i.c
/objmdl/objmdl_contract_i.h
/objmdl/objmdl_contract_p.c
/viewmdl/Debug
/viewmdl/Release
/viewmdl/Release_XP
/viewmdl/ViewMdl_i.c
/viewmdl/ViewMdl_i.h
/viewmdl/dlldata.c
/viewmdl/objmdl_contract_i.c
/viewmdl/objmdl_contract_i.h
/viewmdl/viewmdl_contract_i.c
/viewmdl/viewmdl_contract_i.h
/viewmdl/viewmdl_contract_p.c
/viewmdl/*.aps
/asyncsvc/Debug_XP
/objmdl/Debug_XP
/viewmdl/Debug_XP
/objmdl/x64/Debug
/viewmdl/x64/Debug
/viewmdl/ViewMdl_p.c
/layout/Debug/*.log
/layout/layout_p.c
/layout/Debug/*.obj
/layout/Debug
/layout/Release
/layout/layout_contract_i.c
/layout/layout_contract_i.h
/layout/layout_contract_p.c
/layout/layout_i.c
/layout/layout_i.h
/layout/objmdl_contract_i.c
/layout/objmdl_contract_i.h
/layout/objmdl_contract_p.c
/layout/viewmdl_contract_i.c
/layout/viewmdl_contract_i.h
/layout/viewmdl_contract_p.c
/ModelLibsTests/Debug/LayoutTests.Build.CppClean.log
/ModelLibsTests/Debug/LayoutTests.log
/ModelLibsTests/Debug/ModelLibsTests.Build.CppClean.log
/ModelLibsTests/Debug/ModelLibsTests.log
/ModelLibsTests/Debug/*.obj
/ModelLibsTests/Debug/ModelLibsTests.tlog/*.tlog
/ModelLibsTests/Debug/ModelLibsTests.pch
/ModelLibsTests/Debug/ModelLibsTests.tlog/ModelLibsTests.lastbuildstate
/ModelLibsTests/Debug/vc140.idb
/ModelLibsTests/Debug/vc140.pdb
/ModelLibsTests/layout_contract_i.c
/ModelLibsTests/layout_contract_i.h
/ModelLibsTests/layout_contract_i_p.c
/ModelLibsTests/objmdl_contract_i.c
/ModelLibsTests/objmdl_contract_i.h
/ModelLibsTests/objmdl_contract_i_p.c
/ModelLibsTests/viewmdl_contract_i.c
/ModelLibsTests/viewmdl_contract_i.h
/ModelLibsTests/viewmdl_contract_i_p.c
/ModelLibsTests/Debug/ModelLibsTests.tlog/unsuccessfulbuild
/ModelLibsTests/Debug
/ModelLibsTests/*.aps
/ModelLibsTests/ModelLibsTests.vcxproj.user
/asyncsvc/asyncsvc.vcxproj.user
/ModelLibsTests/Release/ModelLibsTests.log
/ModelLibsTests/Release/ModelLibsTests.tlog/ModelLibsTests.lastbuildstate
/ModelLibsTests/Release/ModelLibsTests.tlog/midl-midlc-cl.read.1.tlog
/ModelLibsTests/Release/ModelLibsTests.tlog/midl-midlc-cl.write.1.tlog
/ModelLibsTests/Release/ModelLibsTests.tlog/midl-midlc.read.1.tlog
/ModelLibsTests/Release/ModelLibsTests.tlog/midl-midlc.write.1.tlog
/ModelLibsTests/Release/ModelLibsTests.tlog/midl.command.1.tlog
/ModelLibsTests/Release/ModelLibsTests.tlog/midl.read.1.tlog
/ModelLibsTests/Release/ModelLibsTests.tlog/midl.write.1.tlog
/ModelLibsTests/Release/ModelLibsTests.tlog/unsuccessfulbuild
/asyncmdl/Debug
/asyncmdl/NotificationServices_i.h
/asyncmdl/asyncmdl_contract_i.c
/asyncmdl/asyncmdl_contract_i.h
/asyncmdl/asyncmdl_contract_i_p.c
/asyncmdl/asyncsvc_contract_p.c
/asyncmdl/objmdl_contract_i.c
/asyncmdl/objmdl_contract_i.h
/asyncmdl/objmdl_contract_p.c
/asyncmdl/viewmdl_contract_i.c
/asyncmdl/viewmdl_contract_i.h
/asyncmdl/viewmdl_contract_p.c
/asyncmdl/NotificationServices_i.c
/asyncmdl/Release
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.idb
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.log
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.res
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/CL.command.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/CL.read.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/CL.write.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/Lib-link-cvtres.read.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/Lib-link-cvtres.write.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/lib.command.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/libcurl.lastbuildstate
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/rc.command.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/rc.read.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/rc.write.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurld.Build.CppClean.log
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/libcurld.lib.lastcodeanalysissucceeded
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.log
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.res
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/CL.read.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/CL.write.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/Lib-link-cvtres.read.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/Lib-link-cvtres.write.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/cl.command.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/lib.command.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/libcurl.lastbuildstate
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/rc.command.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/rc.read.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/rc.write.1.tlog
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.log
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.tlog/CL.command.1.tlog
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.tlog/libcurl.lastbuildstate
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.tlog/unsuccessfulbuild
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.idb
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.log
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.res
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/CL.command.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/CL.read.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/CL.write.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/Lib-link-cvtres.read.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/Lib-link-cvtres.write.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/lib.command.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/libcurl.lastbuildstate
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/rc.command.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/rc.read.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/rc.write.1.tlog
/netmdl/Debug
/netmdl/Release
/netmdl/netmdl_contract_i.c
/netmdl/netmdl_contract_i.h
/netmdl/netmdl_contract_i_p.c
/netmdl/netmdl_p.c
/netmdl/objmdl_contract_i.c
/netmdl/objmdl_contract_i.h
/netmdl/objmdl_contract_i_p.c
