/asyncsvc/Debug
/asyncsvc/Release
/asyncsvc/Release_XP
/asyncsvc/NotificationServices_i.c
/asyncsvc/NotificationServices_i.h
/asyncsvc/asyncsvc_contract_i.c
/asyncsvc/asyncsvc_contract_i.h
/asyncsvc/asyncsvc_contract_p.c
/asyncsvc/objmdl_contract_i.c
/asyncsvc/objmdl_contract_i.h
/asyncsvc/objmdl_contract_p.c
/asyncsvc/viewmdl_contract_i.c
/asyncsvc/viewmdl_contract_i.h
/asyncsvc/viewmdl_contract_p.c
/objmdl/Debug
/objmdl/Release
/objmdl/Release_XP
/objmdl/ObjMdl_i.c
/objmdl/ObjMdl_i.h
/objmdl/dlldata.c
/objmdl/objmdl_contract_i.c
/objmdl/objmdl_contract_i.h
/objmdl/objmdl_contract_p.c
/viewmdl/Debug
/viewmdl/Release
/viewmdl/Release_XP
/viewmdl/ViewMdl_i.c
/viewmdl/ViewMdl_i.h
/viewmdl/dlldata.c
/viewmdl/objmdl_contract_i.c
/viewmdl/objmdl_contract_i.h
/viewmdl/viewmdl_contract_i.c
/viewmdl/viewmdl_contract_i.h
/viewmdl/viewmdl_contract_p.c
/viewmdl/*.aps
/asyncsvc/Debug_XP
/objmdl/Debug_XP
/viewmdl/Debug_XP
/objmdl/x64/Debug
/viewmdl/x64/Debug
/viewmdl/ViewMdl_p.c
